.wp-block-content-series-post-list {
	// InnerBlocks header layout
	&__header .block-editor-block-list__layout {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	// Dim header when block is not in ready state
	&__header--inactive {
		opacity: 0.4;
		pointer-events: none;
	}

	// Prevent accidental link navigation in editor
	&__items a {
		pointer-events: none;
	}

	&__notice {
		margin-top: 0.5rem;
	}
}
